#options
{
	width:90%;
	margin:20px auto;
	text-align:center;
}

#options ul li{
	display:inline;
	padding:0px 30px;
}

#homelist{
	width:90%;
	margin:10px auto;
	height:1500px;
}

@keyframes slideup{
	from{position:relative;top:15px;opacity:0.1;}
	to{position:relative;top:0px;opacity:1;}
}
	
#homelist .home-n{
	float:left;
	width:30%;
	margin:0 auto;
	padding:10px;
	transition:all 0.5s;
	animation:slideup 1.2s ease-out;
}

#homelist .home-n img{
	border:solid 1px;
}

#homelist .home-n:hov	er{
	transform:scale(1.1,1.1);
	transition:all 0.5s ease-out;
}

#pages{
	width:90%;
	margin:0px auto;
}

#pages ul 
{
	float:right;
}

#pages ul li
{
	display:inline;
	background:lightgreen;
	font-size:25px;
	padding:0px 10px;
	margin:10px 10px;
}

#pages ul li a
{
	color:black;
}

@media (max-width:375px)
{
	#homelist
	{
		height: 4400px;
		width: 90%;
		margin: 0px auto;
	}
	
	#homelist .home-n
	{
		float: none;
		width: 90%;
		margin: 0px auto;
	}
	
	#homelist .home-n img
	{
		width: 100%;
		float: none;
		margin: 0px auto;
	}
	
	#pages ul li
 	{
		float: none;
		margin: 10px 0px;
		width:100%;
		display: inline;
	}
	
	#footer
	{
		margin: 40px 0px 0px;
	}

}