@charset "utf-8";
*
{
	font-family: verdana;
	margin: 0px;
	padding: 0px;
	color: white;
	text-decoration: none;
}

body
{
	background: black;
}

h2
{
	color: black;
	background: lightgreen;
	padding: 5px;
	text-align: center;
}

header
{
	font-size: 30px;
	text-align: center;
	padding: 10px;
	border-bottom: 5px solid green;
}

nav
{
	text-align: center;
	margin: 0px auto 10px;
	padding: 10px;
	border-bottom: 3px solid green;
}
nav li
{
	display: inline;
}

nav a
{
	padding: 10px 30px;
}

nav a:hover
{
	background: lightgreen;
	color: black;
}

main
{
	border-bottom: 3px solid green;
	height: 3700px;
	margin: 10px 0px 5px;
}

.mainimg
{
	margin: -10px auto 10px;
	height: 480px;
	overflow: hidden;
}

.mainimg img
{
	width: 100%;
	position: relative;
	top: -100px;
}

#home
{
	border-bottom: 3px solid green;
}

#home
{
	width: 90%;
	margin: 0px auto;
	padding-bottom: 10px;
}


#home .leftxt p
{
	width: 100%;
	padding: 10px 0px;
	text-align: justify;
}

#aboutus
{
	width: 90%;
	border-bottom: 3px solid green;
	margin: 15px auto;
	height: 1175px;
}

.subimg
{
	float: left;
	width: 33%;
	text-align: center;
	margin: 20px auto 10px;
	height: 425px;
	border-bottom: 1px solid;
}


.subimg img
{
	width: 240px;
	height: 240px;
	padding: 10px;
	border: 5px groove green;
	outline: dashed 2px green;
}

.subimg img:hover
{
	transform: scale(1.05,1.05);
}

.subimg figcaption
{
	text-align: justify;
	width: 75%;
	margin: 10px auto;
}

.abot p
{
	text-align: justify; 
	padding: 20px 10px;
	margin: 10px 0px;
	border: 2px solid;
	border-radius: 15px;
}

#achieve
{
	width: 90%;
	margin: 10px auto;
	border-bottom: 3px solid green;
	height: 775px;
}

.trophy
{
	width: 33%;
	height: 300px;
	text-align: center;
	float: left;
	margin: 25px 0px 0px;
}

.trophy img
{
	width: 240px;
	height: 240px;
	border: 2px green ridge;
	outline: dashed 3px green;
}


.trophy img:hover
{
	transform:scale(1.05,1.05);
}

.trophy figcaption
{
	margin: 10px 0px;
}

#contact
{
	width: 90%;
	margin: 10px auto;
}

.form
{
	
}

.form input
{
	width: 50%;
	margin: 20px 0px 10px;
	color: black;
	padding: 15px 0px;
}

.form textarea
{
	width: 50%;
	margin: 20px 0px 10px;
	color: black;
	padding: 15px 0px;
	resize: vertical;
}

.btt
{
	float: right;
	background: green;
	border: 3px solid purple;
	background-clip: border-box;
	padding: 20px;
	position: fixed;
	right: 0px;
	bottom: 0px;
}

.btt:hover
{
	background: purple;
	border: 3px solid green;
}

.circle
{
	display: none;
}

footer
{
	background: lightgreen;
	padding: 10px;
	text-align: center;
}

footer h3
{
	color: black;
}

@media (max-width:320px)
{	
	.btt
	{
		display: none;
	}
	main
	{
		height: 9250px;
	}
	
	nav
	{
		margin: -10px 0px;
	}
	nav li a
	{
		padding: 0px 10px;
		font-size: 10px;
		width: 25%;
	}
	
	.mainimg
	{
		height: 70px;
		overflow: hidden;
	}
	
	.mainimg img
	{
		position: relative;
		top: -50%;
	}
	
	#aboutus
	{
		height: 3800px;
	}
	
	#aboutus .subimg
	{
		float: none;
		border: none;
		width: 100%;
		height: 450px;
	}
	
	#achieve
	{
		height: 2125px;
	}
	#achieve .trophy
	{
		float: none;
		width: 100%;
	}
	
	#contact .form input, #contact .form textarea
	{
		width: 100%;
	}
	
	.circle
	{
		display: block;
		border: purple solid 2px;
		width: 32px;
		height: 32px;
		background: purple;
		text-align: center;
		border-radius: 50%;
		position: fixed;
		bottom: 5%;
		right: 5%;
	}
}

@media (min-width:321px) and (max-width:720px)
{
	.mainimg{
		height: 150px;
		overflow: hidden;
	}
	
	#aboutus
	{
		height: 2325px;
	}
	
	.subimg
	{
		width: 90%;
		margin: 0px auto;
		border: none;
		float: none;
		height: 400px;
	}
	
	#achieve
	{
		height: 1125px;
	}
	
	.trophy
	{
		float: left;
		width: 50%;
		margin: 0px auto;
		height: 350px;
	}
	
	.form input, .form textarea
	{
		width: 100%;
	}
	
	main
	{
		height: 5350px;
	}
}
